* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #264653;
}

html {
    width: 100%;
}
 
body {
    width: 100%;
}

p {
    background-color: #7FB7BE;
    font: 15px;
    font-weight: bold;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    background-color: #7FB7BE;

}

.navigation {

    background-color: #7FB7BE;



}


#nav-bar {
    background-color: #7FB7BE;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    padding-top: 10px;

}


.navBackground {
    background-color: #7FB7BE;
}


#nav-logo {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 5px;
}

#contact-nav{
    padding-right: 20px;
}
 
.mainPage {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    flex-wrap: wrap;
    padding-left: 10px;

}

.jerseyImages {
    display: flex;
    justify-content: left;
}

.sideimageConfig {
    height: 64px;
    width: 64px;
    border: 2.5px solid black;
}

#jersey-thumbnail {
    height: fit-content;
    width: fit-content;
    border: 10px solid #7FB7BE;
}

.jerseyThumbnails {
    height: fit-content;
    width: fit-content;
    padding-right: 5px;
}

#current-img {
    max-height: 350px;
    max-width: 350px;
    height: 100%;
    width: 100%;
    border: 3px solid black;
    padding: 10px;
    background-color: #7FB7BE;
}



.scale1:hover {
   scale: 1.05;
   transition: scale 0.5s ease-in-out;
}

.Dd {
    width: auto;
}

#jersey-description {

    margin: 5px;
    width: 99%;

}

.discription {
    border: 2px solid black;
    background-color: #7FB7BE;
    border-radius: 10px;
    padding: 5px;
}

#jersey-name {
    background-color: #7FB7BE;
    padding-left: 2%;
    color: #264653;
}

#jersey-price {
    background-color: #7FB7BE;
    padding-left: 2%;
}

#jersey-details {
    border: 2px solid black;
    background-color: #7FB7BE;
    border-radius: 10px;
    padding: 2%;
    margin-top: 10px;
}




.overlay {
     
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
  }



  .popup {
    background: #264653;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
   
  }

  #buy-btn{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border: 2.5px solid black;
    border-radius: 5px;
    background-color: #7FB7BE;
    font-weight: bold;
    font-size: medium;
  }

  #close-btn{
    background-color: #7FB7BE;
    padding: 5px;
    background-color: #7FB7BE;
    border: 1px solid black;
  }

  #meeshoLink{
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
  }