*{
    background-color: #052F5F;
}

p{
    background-color: #FFFFFC;
}

.first-row {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

#first-row-first-jersey {
    background-color: #FFFFFC;
    height: fit-content;
    width: fit-content;
    padding: 20px;
}

#frst-jersy {
    width: 250px;
    height: 360px;
}

#first-row-second-jersey {
    background-color: #FFFFFC;
    height: fit-content;
    width: fit-content;
    padding: 20px;
}

#second-jersey{
    width: 250px;
    height: 360px;
}

#first-row-third-jersey{
    background-color: #FFFFFC;
    height: fit-content;
    width: fit-content;
    padding: 20px;
}

#third-jersey{
    width: 250px;
    height: 360px;
}
