* {
    background-color: #264653;

}



p {
    background-color: transparent;
    font: 15px;
    font-weight: bold;
    color: black;
}

a {
    text-decoration: none;

}



.navigation {

    background-color: #7FB7BE;



}


#nav-bar {
    background-color: #7FB7BE;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    padding-top: 10px;

}


.navBackground {
    background-color: #7FB7BE;
}


#nav-logo {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 20px;
}

#contact-nav {
    padding-right: 20px;
}

.first-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}


.jersey-image-config {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 360px;
    border: 2.5px solid black;
    border-radius: 5px;
}

.jersey-box {
    background-image: linear-gradient(to bottom right, white 20%, #7FB7BE 80%);
    background-size: 300%;
    background-position: left;

    height: fit-content;
    width: fit-content;
    padding: 20px;
    border: 5px solid #2A9D8F;
    border-radius: 10px;
    margin: 10px;

}


@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0.5;
        transform: translateY(50px);
    }

    30% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }

}

.fader {
    opacity: 0;
    animation: fadeIn linear,
        gradientSft  linear;
    animation-timeline: view();
}



@keyframes gradientSft {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}