* {
    /* background-color: #264653; */
    background-color: #001d3d;
}



p {
    background-color: transparent;
    font: 15px;
    font-weight: bold;
    color: #003566;
}

a {
    text-decoration: none;

}



.navigation {

    background-color: #ffd60a;



}


#nav-bar {
    background-color: #ffd60a;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2.5px solid #756c0c;
    padding-top: 10px;
    box-shadow: 0px 0px 2.5px #fbff00,
        0px 0px 5px #fbff00,
        0px 0px 10px #fbff00;
}


.navBackground {
    background-color: #ffd60a;
}


#nav-logo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#contact-nav {
    padding-right: 20px;
}

.first-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}


.jersey-image-config {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 360px;
    border: 2.5px solid black;
    border-radius: 5px;
}

.jersey-box {
    background-image: linear-gradient(to bottom right, white 20%, gold 80%);
    background-size: 300%;
    background-position: left;

    height: fit-content;
    width: fit-content;
    padding: 20px;
    /* border: 5px solid #2A9D8F; */
    border: 5px solid #ffc300;

    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 15px #fbff00,
        0px 0px 20px #fbff00,
        0px 0px 30px #fbff00;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0.75;
        transform: translateY(50px);
    }

    25% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }

    80% {
        opacity: 1;
        scale: .95;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        scale: .9;
        transform: translateY(0px);
    }

}

.fader {
    opacity: 0;
    animation: fadeIn linear,
        gradientSft linear;
    animation-timeline: view();
}



@keyframes gradientSft {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

