* {
    /* background-color: #264653; */
    background-color: #072E33;

}

p {
    background-color: transparent;
}

.navigation {

    background-color: #7FB7BE;



}



#nav-bar {
    background-color: #7FB7BE;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2.5px solid #294D61;
    padding-top: 10px;
    box-shadow: 0px 0px 2.5px #00ffff,
        0px 0px 5px #00ffff,
        0px 0px 10px #00ffff;
}



.navBackground {
    background-color: #7FB7BE;
}



#nav-logo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin-left: 10px;
}

#contact-nav {
    padding-right: 20px;
}

.jersey-image-config {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 360px;
    border: 2.5px solid black;
    border-radius: 5px;
}

.jersey-box {
    background-image: linear-gradient(to bottom right, white 20%, #264653, #7FB7BE 80%);
    background-size: 300%;
    background-position: left;
    animation: gradientShift 5s linear infinite alternate;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border: 5px solid #2A9D8F;
    border-radius: 10px;
    margin: 10px;
}

@keyframes gradientShift {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }

}


.rotars-box {
    max-width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 15%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0));
}

.rotars {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 260px;
    /* border: 2.5px solid black; */
    border-radius: 10px;
    background-color: #2A9D8F ;
    position: absolute;
    left: max(calc(225px * 4), 100%);
    animation: horizontalScroll 12s linear infinite;
margin-top: 20px;
    box-shadow: 0px 0px 10px #00ffff,
    0px 0px 15px #00ffff,
    0px 0px 20px #00ffff;

}


@keyframes horizontalScroll {



    100% {
        left: -225px;

    }

}

.first {
    animation-delay: calc(12s / 4 * (4 - 1) * -1);
}

.second {
    animation-delay: calc(12s / 4 * (4 - 2) * -1);
}

.third {
    animation-delay: calc(12s / 4 * (4 - 3) * -1);
}

.fourth {
    animation-delay: calc(12s / 4 * (4 - 4) * -1);
}

.imgGradiant {
    background-image: linear-gradient(to left #7FB7BE, #264653);
}

.motiQuote{
background-image: linear-gradient(to right ,#7FB7BE 5% , #2A9D8F  , #7FB7BE 95%);

    border-radius: 5px;
    box-shadow: 0px 0px 10px black ,
    0px 0px 15px black,
    0px 0px 20px black;
    animation: initialPosition 5s infinite linear alternate;
    
}

#quoteOne{
    font-size: xx-large;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
   font-weight: bolder;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes initialPosition {
    from {
        box-shadow: 0px 0px 5px white ,
        0px 0px 10px white,
        0px 0px 15px white;
    }
    to{
        box-shadow: 0px 0px 20px white ,
        0px 0px 25px white,
        0px 0px 30px white;
    }
}

